@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Poppins:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Bangers', cursive;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ced8c2;
}

#topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

#topo img {
    width: 100px;
    height: 100px;
    position: absolute;


}

#topo ul {
    height: 24px;
    margin-top: 64px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}


#topo ul li {
    padding: 20px;
}

#topo ul li a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

#container {    
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.texto {
    display: flex;
    flex-direction: column;
    margin: 5%;

}

.texto h1 {
    font-weight: 500;    
    font-family: Poppins;
}

.texto h1 span {
    font-weight: 500;
    font-size: 1.3em;
    color: #D89B9E;
}

.texto a {
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
    background-color: #D89B9E;
    color: #000;
    border: 0;
    border-radius: 40px;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    text-align: center;
    max-width: 150px;
}

.coffe_rose img{
    
    width: 450px;
    height: 678px;
    margin-top: 60px;


}

.redesociais{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    margin: 5%;  

}

.redesociais img{
    margin: 30px;
    height: 30px;
}

.coffe {
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.coffe img{
   max-width: 100px;
   padding: 20px
    
}

.circulo{    
    
   
    
}